.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color:bisque;
  border: solid 5px rgb(221, 190, 153);
  color: rgb(165, 142, 114);
}

.boton{
  background-color: rgb(221, 190, 153);
  color: rgb(252, 246, 241);
  border-color: rgb(221, 190, 153);
  border-radius: 5px;
  margin: 0px 5px 15px 5px;
  height: 35px;
  width: 140px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

th{
  width: 120px;
  margin-top: 10px;
}

table{
  border: solid 2px rgb(221, 190, 153);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-top: 0px;
}

img {
  border-radius: 10px;
  opacity: 0.85;
  border: solid 2px rgb(167, 144, 116);
}